# Hugo stuff
.hugo_build.lock
**/resources/_gen/
public
hugo_stats.json

# Apple stuff
.DS_Store
Thumbs.db

# VSCode or IDE settings (optional but useful)
.vscode/
.idea/

# Logs or temp files
*.log

# Optional: Netlify or Amplify build folders
.netlify/
.amplify/

# Font stuff
LuckiestGuy-Regular.ttf
font.txt